@font-face {
    font-family: Samim;
    src: url('./font/samim-font-v2.0.1/Samim.eot');
    src: url('./font/samim-font-v2.0.1/Samim.eot?#iefix') format('embedded-opentype'),
         url('./font/samim-font-v2.0.1/Samim.woff') format('woff'),
         url('./font/samim-font-v2.0.1/Samim.ttf') format('truetype');
    font-weight: normal;
  }
  
  /* @font-face {
    font-family: Samim;
    src: url('./font/samim-font-v2.0.1/Samim-Bold.eot');
    src: url('/font/samim-font-v2.0.1/Samim-Bold.eot?#iefix') format('embedded-opentype'),
         url('./font/samim-font-v2.0.1/Samim-Bold.woff') format('woff'),
         url('./font/samim-font-v2.0.1/Samim-Bold.ttf') format('truetype');
    font-weight: bold;
  } */

  @font-face {
     font-family: Vazir;
     src: url('./font/vazir/Vazir.eot');
     src: url('./font/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
          url('./font/vazir/Vazir.woff') format('woff'),
          url('./font/vazir/Vazir.ttf') format('truetype');
     font-weight: normal;
   }
         
   @font-face {
     font-family: Vazir;
     src: url('./font/vazir/Vazir-Bold.eot');
     src: url('./font/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
          url('./font/vazir/Vazir-Bold.woff') format('woff'),
          url('./font/vazir/Vazir-Bold.ttf') format('truetype');
     font-weight: bold;
   }
   
   @font-face {
     font-family: Vazir;
     src: url('./font/vazir/Vazir-Light.eot');
     src: url('./font/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
          url('./font/vazir/Vazir-Light.woff') format('woff'),
          url('./font/vazir/Vazir-Light.ttf') format('truetype');
     font-weight: 300;
   }