/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root{
  --bg-color1 :black ;

}
@tailwind base;
@tailwind components;
@import url(./fonts/font.css);
@tailwind utilities;

.nav-link {
  @apply p-5 hover:text-white hover:bg-gray-800 flex justify-between align-middle rounded-bl-3xl rounded-tl-3xl pl-6 whitespace-nowrap
}
.nav-link.visited {
  @apply bg-cyan-500 text-white
}