/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root{
  --bg-color1 :black ;

}
@tailwind base;
@tailwind components;
@import url(./fonts/font.css);
@tailwind utilities;

.nav-link {
  @apply p-5 hover:text-white hover:bg-gray-700 w-full flex align-middle rounded-bl-3xl rounded-tl-3xl pl-6 whitespace-nowrap
}
.nav-link.visited {
  @apply bg-cyan-500 text-white font-samim font-bold
}
.sub-link{
  @apply  mr-10 hover:text-white hover:bg-gray-700 rounded-xl p-5
}
.sub-link a:before {
    content:'';
    position: absolute;
    display: block;
    top:1rem;
    bottom: 1rem;
    right:2rem;
    width: 1px;
    background:  rgba(255, 255, 255, 0.39);
    margon-left : 3rem;


}
.hid {
  @apply block  !important
}